:root {
  --ifm-background-color: #000000;
  --ifm-color-text: #00cccc;
}

.navbar__logo {
  border-radius: 4px;
  overflow: hidden;
}

html, body, .theme-doc-markdown, .theme-blog-homepage, .theme-blog-post, .main-wrapper {
    background-color: #000000 !important;
}

.navbar {
  display: none;
}

h1, h2, h3, h4, h5, h6,
a {
  color: #00cccc !important;
}
